<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="table_container">
        NASDAQ
        <table id="NDX_data">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Stock</th>
                    <th>BenchMark</th>
                    <th>Active Return</th>
                </tr>
            </thead>
        </table>
        APPLE
        <table id="AAPL_data">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Stock</th>
                    <th>BenchMark</th>
                    <th>Active Return</th>
                </tr>
            </thead>
        </table>
        MICROSOFT
        <table id="MSFT_data">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Stock</th>
                    <th>BenchMark</th>
                    <th>Active Return</th>
                </tr>
            </thead>
        </table>
        AMAZON
        <table id="AMZN_data">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Stock</th>
                    <th>BenchMark</th>
                    <th>Active Return</th>
                </tr>
            </thead>
        </table>
        FACEBOOK
        <table id="FB_data">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Stock</th>
                    <th>BenchMark</th>
                    <th>Active Return</th>
                </tr>
            </thead>
        </table>
        TESLA
        <table id="TSLA_data">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Stock</th>
                    <th>BenchMark</th>
                    <th>Active Return</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
<script>
    $(document).ready(function(){
        var data = {}
        data.start_date = $('#start_date').val();
        data.end_date = $('#end_date').val();
        data.tickers = [];
        $('.user_input:checked').each(function(){
          data.tickers.push($(this).val());
        });
        data.amount = $('#amount').val();
        $.ajax({
          url: 'calculate_ticker_data',
          type: 'POST',
          data: data,
          dataType: 'json',
          success: function(response){
            create_ticker_table(response);
          },
          error: function(response){
            console.log(response);
          }
        });
      })

function create_dataset(data){
  var dataset = [];
  var data_keys = Object.keys(data);
  for(var i = 0; i < data[data_keys[0]].length; i++){
    var row = [];
    for(var j = 0; j < data_keys.length; j++){
      row.push(data[data_keys[j]][i]);
    }
    dataset.push(row);
  }
  return [dataset, data_keys];
}

function create_ticker_table(tickers){
  var ticker_list = Object.keys(tickers);
    for (var i = 0; i < ticker_list.length; i++) {
    //   var table = `<table id="#${ticker_list[i]}_data"><table>`
    //   $('#table_container').append(table);
      var data = create_dataset(tickers[ticker_list[i]]['cumulative'])
    //   console.log(data, `#${ticker_list[i]}_data`);
      var x = $(`#${ticker_list[i]}_data`).DataTable({
        data :data[0]
      })
      console.log('datatable is builing', x)
    }
}
</script>
</html>