<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body style='margin:50px;'>
  <style text="text/css">
    .loading {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/investment_strategy">Investment Strategy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="m_body">
    <div style="background-color:lightblue;height:700px;width:500px;margin:auto;padding-top:10px" class="m_center">
    <form>
        <b>
        <label for="m_from">From date : </label>
        <input type="date" id="from_date" name="from"><br><br>
        <label for="m_to">To date : </label>
        <input type="date" id="end_date" name="to"><br><br>
{% comment %}         
        Choose one or more tickers(Optional)
        <br>
        <div align="left" style="padding-left:170px">
        <input type="checkbox" id="m_AAPL" name="AAPL" value="Apple">
        <label for="m_AAPL">Apple</label><br><br>
        <input type="checkbox" id="m_MSFT" name="MSFT" value="Microsoft">
        <label for="m_MSFT">Microsoft</label><br><br>
        <input type="checkbox" id="m_AMZN" name="AMZN" value="Amazon">
        <label for="m_AMZN">Amazon</label><br><br>
        <input type="checkbox" id="m_FB" name="FB" value="Facebook">
        <label for="m_FB">Facebook</label><br><br>
        <input type="checkbox" id="m_TSLA" name="TSLA" value="Tesla">
        <label for="m_TSLA">Tesla</label><br><br> {% endcomment %}
        <br><br><label for="m_amt">Enter the amount (Mandatory*) : </label>
        <input type="number" id="amount" name="amt"><br><br>
        <input id='submit' type="submit">
        </div>
    </b>
    </form>
    <div id="">
      Amount to be invested : <span id="invested_amount"></span>
      </div>
    <input value="Show Plot" type="submit" onclick="plot()">
</div>
</body>
<script>

  $('#submit').on('click', function(){
    var from_date = $('#start_date').val()
    var end_date = $('#end_date').val()
    var amount = $('#amount').val()
    $.ajax({
      url:'investment_strategy',
      type:'POST',
      dataType:'json',
      data:{
        'from_date':from_date,
        'end_date':end_date,
        'amount':amount
      },
      success: function(response){
        $('#invested_amount').html(response.invested_amount);
      },
      error: function(response){
        console.log(response);
      }
    })
  })
</script>
</html>
{% comment %} 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
      <style>#m_body{background:url("https://ci5.googleusercontent.com/proxy/5mJtKG4ERnW3i5Z1mHYi25aajkrOn6ugd1vM0Es9-NQ=s0-d-e1-ft#http://bg.jpg") no-repeat fixed center;text-align:center;font-size:30px}</style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
      <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
    </head>
    <body>
    <input type="text" id="ticker" placeholder="Search for tickers..">
    <div id="ticker_info" style="display:none">
      <div id="ticker_name"></div>
      <div id="ticker_price"></div>
      <div id="ticker_change"></div>
      <div id="ticker_volume"></div>
      <div id="ticker_market_cap"></div>
      <div id="ticker_pe_ratio"></div>
      <div id="ticker_eps"></div>
      <div id="ticker_yield"></div>
      <div id="ticker_dividend"></div>
      <div id="ticker_exchange"></div>
      <div id="ticker_sector"></div>
      <div id="ticker_industry"></div>
      <div id="ticker_description"></div>
    </div>
    <div id="m_body">
        <!-- <form> -->
            <b>
            <label for="m_from">From date : </label>
            <input type="date" id="start_date" name="from"><br><br>
            <label for="m_to">To date : </label>
            <input type="date" id="end_date" name="to"><br><br>
            <br><br><label for="m_amt">Enter the amount (Mandatory*) : </label>
            <input type="number" id="amount" name="amt"><br><br>
            <input type="submit" id=submit>
        </b>
        <!-- </form> -->
        <div id="">
        Amount to be invested : <span id="invested_amount"></span>
        </div>
        
    </div>
    <script>
      $( function() {
        var availableTags = [
          "AAPL",
          "MSFT",
          "AMZN",
          "FB",
          "TSLA",
          "GOOG",
          "Apple",
          "Microsoft",
          "Amazon",
          "Facebook",
          "Tesla",
          "Google",
        ];
        $( "#ticker" ).autocomplete({
          source: availableTags
        });
      });
      $('#ticker').on('change',function(){
        var ticker = $('#ticker').val();
        $.ajax({
          url: '/ticker_info',
          type: 'POST',
          dataType: 'json',
          data: {
            'tickers': ticker
          },
          success: function(data){
            $('#ticker_info').show();
            $('#ticker_name').html(data.name);
            $('#ticker_price').html(data.price);
            $('#ticker_change').html(data.change);
            $('#ticker_volume').html(data.volume);
            $('#ticker_market_cap').html(data.market_cap);
            $('#ticker_pe_ratio').html(data.pe_ratio);
            $('#ticker_eps').html(data.eps);
            $('#ticker_yield').html(data.yield);
            $('#ticker_dividend').html(data.dividend);
            $('#ticker_exchange').html(data.exchange);
            $('#ticker_sector').html(data.sector);
            $('#ticker_industry').html(data.industry);
            $('#ticker_description').html(data.description);
          }, 
          error: function(data){
            $('#ticker_info').hide();
          }
        });
      });

      $('#submit').on('click', function(){
        var from_date = $('#start_date').val()
        var end_date = $('#end_date').val()
        var amount = $('#amount').val()
        $.ajax({
          url:'investment_strategy',
          type:'POST',
          dataType:'json',
          data:{
            'from_date':from_date,
            'end_date':end_date,
            'amount':amount
          },
          success: function(response){
            $('#invested_amount').html(response.invested_amount);
          },
          error: function(response){
            console.log(response);
          }
        })
      })

//     function getGraph(){
//         var xData = [
//   [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013],
//   [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013],
//   [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013],
//   [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013]
// ];

// var yData = [
//   [74, 82, 80, 74, 73, 72, 74, 70, 70, 66, 66, 69],
//   [45, 42, 50, 46, 36, 36, 34, 35, 32, 31, 31, 28],
//   [13, 14, 20, 24, 20, 24, 24, 40, 35, 41, 43, 50],
//   [18, 21, 18, 21, 16, 14, 13, 18, 17, 16, 19, 23]
// ];

// var colors = ['rgba(67,67,67,1)', 'rgba(115,115,115,1)', 'rgba(49,130,189, 1)',
//   'rgba(189,189,189,1)'
// ];

// var lineSize = [2, 2, 4, 2];

// var labels = ['Television', 'Newspaper', 'Internet', 'Radio'];

// var data = [];

// for ( var i = 0 ; i < xData.length ; i++ ) {
//   var result = {
//     x: xData[i],
//     y: yData[i],
//     type: 'scatter',
//     mode: 'lines',
//     line: {
//       color: colors[i],
//       width: lineSize[i]
//     }
//   };
//   var result2 = {
//     x: [xData[i][0], xData[i][11]],
//     y: [yData[i][0], yData[i][11]],
//     type: 'scatter',
//     mode: 'markers',
//     marker: {
//       color: colors[i],
//       size: 12
//     }
//   };
//   data.push(result, result2);
// }

// var layout = {
//   showlegend: false,
//   height: 600,
//   width: 600,
//   xaxis: {
//     showline: true,
//     showgrid: false,
//     showticklabels: true,
//     linecolor: 'rgb(204,204,204)',
//     linewidth: 2,
//     autotick: false,
//     ticks: 'outside',
//     tickcolor: 'rgb(204,204,204)',
//     tickwidth: 2,
//     ticklen: 5,
//     tickfont: {
//       family: 'Arial',
//       size: 12,
//       color: 'rgb(82, 82, 82)'
//     }
//   },
//   yaxis: {
//     showgrid: false,
//     zeroline: false,
//     showline: false,
//     showticklabels: false
//   },
//   autosize: false,
//   margin: {
//     autoexpand: false,
//     l: 100,
//     r: 20,
//     t: 100
//   },
//   annotations: [
//     {
//       xref: 'paper',
//       yref: 'paper',
//       x: 0.0,
//       y: 1.05,
//       xanchor: 'left',
//       yanchor: 'bottom',
//       text: 'Main Source for News',
//       font:{
//         family: 'Arial',
//         size: 30,
//         color: 'rgb(37,37,37)'
//       },
//       showarrow: false
//     },
//     {
//       xref: 'paper',
//       yref: 'paper',
//       x: 0.5,
//       y: -0.1,
//       xanchor: 'center',
//       yanchor: 'top',
//       text: 'Source: Pew Research Center & Storytelling with data',
//       showarrow: false,
//       font: {
//         family: 'Arial',
//         size: 12,
//         color: 'rgb(150,150,150)'
//       }
//     }
//   ]
// };

// for( var i = 0 ; i < xData.length ; i++ ) {
//   var result = {
//     xref: 'paper',
//     x: 0.05,
//     y: yData[i][0],
//     xanchor: 'right',
//     yanchor: 'middle',
//     text: labels[i] + ' ' + yData[i][0] +'%',
//     showarrow: false,
//     font: {
//       family: 'Arial',
//       size: 16,
//       color: 'black'
//     }
//   };
//   var result2 = {
//     xref: 'paper',
//     x: 0.95,
//     y: yData[i][11],
//     xanchor: 'left',
//     yanchor: 'middle',
//     text: yData[i][11] +'%',
//     font: {
//       family: 'Arial',
//       size: 16,
//       color: 'black'
//     },
//     showarrow: false
//   };

//   layout.annotations.push(result, result2);
// }

// Plotly.newPlot('myDiv', data, layout);
//     }
    </script>
</body></html> {% endcomment %}
